<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sabbir it</title>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" href="images/download.png" class="logo">
	<script src="https://kit.fontawesome.com/e5d54a744d.js" crossorigin="anonymous"></script>
</head>

<body>
	<nav>
		<div class="menu-bar">
			<img src="images/download.png" alt="my logo" class="logo">
			<ul>
				<li><a href="#">Home <i class="fa-solid fa-angle-down"></i></a>

					<div class="dropdown__menu">

						<ul class="menu-img-wight">
							<div class="row">
								<div class="menu-img">
									<span>Home v1</span> <br><br>
									<img src="images/course-img-9-768x512 (1).jpg" alt="">
								</div>

								<div class="menu-img">
									<span>Home v1</span><br><br>
									<img src="images/screenshot-300x225.jpg" alt="">
								</div>
								<div class="menu-img">
									<span>Home v1</span><br><br>
									<img src="images/home-6-300x225.jpg" alt="">
								</div>

							</div>
						</ul>
					</div>
				</li>
				<li><a href="#">Admission</a></li>
				<li><a href="#">Programs <i class="fa-solid fa-angle-down"></i></a>

					<div class="dropdown__menu">
						<ul>
							<li><a href="#">Counses Ahchives</a></li>
							<li><a href="#">Advanced Photographty</a></li>
							<li><a href="#">Basic CSS Flexbox</a></li>
							<li><a href="#">Speaking and listering</a></li>
							<li><a href="#">English for Research</a></li>
						</ul>
					</div>

				</li>

				<li><a href="#">Pages <i class="fa-solid fa-angle-down"></i></a>

					<div class="dropdown__menu">
						<ul>
							<li><a href="#">About us</a></li>
							<li><a href="#">Notice Grid</a></li>
							<li><a href="#">Notice single</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>
				</li>

				<li><a href="#">Tachers <i class="fa-solid fa-angle-down"></i></a>

					<div class="dropdown__menu">
						<ul>
							<li><a href="#">Teachers List</a></li>
							<li><a href="#">Teachers Single</a></li>
						</ul>
					</div>
				</li>

				<li><a href="#">Everts <i class="fa-solid fa-angle-down"></i></a>

					<div class="dropdown__menu">
						<ul>
							<li><a href="#">Events List</a></li>
							<li><a href="#">Event Single</a></li>
						</ul>
					</div>

				</li>

				<li><a href="#">News</a></li>

			</ul>
		</div>
	</nav>

	<header>
		<div class="icon2">
			<i class="fa-solid fa-gear"></i>
		</div>

		<div class="head">
			<h6>WELCOME TO OUR UNIVERSITY</h6><br>
			<h1>World Leading <br>
				University for the <br>
				best career</h1> <br>
			<p>Our university established 1950. More than ten millions students <br>
				completed graduation from our university</p><br><br>
			<button>Apply Now</button>
		</div>
	</header>

	<section>
		<div class="man">
			<div class="man1">
				<i class="fa-solid fa-graduation-cap"></i>
				<h3>Admissions</h3><br>
				<p>On the other hand denounce with <br>
					rigteous indignation dislike.</p>
			</div>

			<div class="man1">
				<i class="fa-solid fa-book-open"></i>
				<h3>Research</h3><br>
				<p>On the other hand denounce with <br>
					rigteous indignation dislike.</p>
			</div>

			<div class="man1">
				<i class="fa-solid fa-star-of-life"></i>
				<h3>Innovation</h3><br>
				<p>On the other hand denounce with <br>
					rigteous indignation dislike.</p>
			</div>
		</div>
	</section>

	<section>
		<div class="we">
			<div class="we1">
				<h6>ESTABLISHED 1950</h6><br>
				<h1>We Are The Best <br>
					University in The Country</h1><br><br>
				<button>LEARN MORE</button>
			</div>
			<div class="we1">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus <br>
					Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id,<br>
					mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor liberobr <br>
					sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo <br>
					Suspendisse potenti <br><br>
					Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit <br>
					amet orci. Aenean dignissim pellentesque felis.</p>
			</div>
		</div>
	</section>

	<section>
		<div class="box">
			<h4>PROGRAMS</h4><br><br><br>
			<h1>Our Academics Programs</h1>
			<div class="box1">
				<img src="images/course-img-8-768x512.jpg" alt=""> <br><br>
				<h2>Undergraduate</h2><br>
				<p>We offer a unique experience to our <br>
					graduate students, including the <br>
					opportunity to work with leading <br>
					academics.</p><br><br>
				<a href="#">APPLY NOW <i class="fa-solid fa-arrow-right"></i></a>
			</div>
			<div class="box1">
				<img src="images/course-img-1-768x512.jpg" alt=""><br><br>
				<h2>Postgraduate</h2><br>
				<p>We offer a unique experience to our <br>
					graduate students, including the <br>
					opportunity to work with leading <br>
					academics.</p><br><br>
				<a href="#">APPLY NOW <i class="fa-solid fa-arrow-right"></i></a>

			</div>
			<div class="box1">
				<img src="images/course-img-1-768x512.jpg" alt=""><br><br>
				<h2>PhD Program</h2><br>
				<p>We offer a unique experience to our <br>
					graduate students, including the <br>
					opportunity to work with leading <br>
					academics.</p><br><br>
				<a href="#">APPLY NOW <i class="fa-solid fa-arrow-right"></i></a>
			</div>
		</div>
	</section>

	<section>
		<div class="box11">
			<h4>COURSES</h4>
			<h1>Our Online Courses</h1>
			<div class="boxx">
				<img src="images/course-img-1-768x512.jpg" alt=""><br>
				<h2>Basic CSS Flexbox <br>
					Tutorial Guide</h2><br>
				<div class="h6">
					<h6>Free</h6>
				</div><br>

				<div class="i">
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i><br><br>
					<p>Course Description Lorem Ipsum is simply
						dummy text of the printing and typesetting industry. Lorem</p>
				</div>
			</div>
			<div class="boxx">
				<img src="images/course-img-2-768x512.jpg" alt=""><br>
				<h2>Advanced Photography: Diptychs</h2><br>
				<div class="h6">
					<h6>Free</h6>
				</div><br>

				<div class="i">
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i><br><br>
					<p>Course Description Lorem Ipsum is simply
						dummy text of the printing and typesetting industry. Lorem</p>
				</div>
			</div>
			<div class="boxx">
				<img src="images/course-img-3-768x512.jpg" alt=""><br>
				<h2>Upgrade your speaking and listening</h2><br>
				<div class="h6">
					<h6>Free</h6>
				</div><br>

				<div class="i">
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i><br><br>
					<p>Course Description Lorem Ipsum is simply
						dummy text of the printing and typesetting industry. Lorem</p>

				</div>
			</div>
		</div>

		<div class="box12">
			<div class="boxxx">
				<img src="images/course-img-5-768x512.jpg" alt=""><br>
				<h2>English for Research Publication Purposes</h2><br>
				<div class="h7">
					<h6>$46.00</h6>
				</div><br>

				<div class="i">
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i><br><br>
					<p>Course Description Lorem Ipsum is simply
						dummy text of the printing and typesetting industry. Lorem</p>
				</div>
			</div>
			<div class="boxxx">
				<img src="images/course-img-6-768x512.jpg" alt=""><br>
				<h2>Design Thinking – Design Research and Analysis</h2><br>
				<div class="h7">
					<h6>$80.00</h6>
				</div><br>

				<div class="i">
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i><br><br>
					<p>Course Description Lorem Ipsum is simply
						dummy text of the printing and typesetting industry. Lorem</p>
				</div>
			</div>
			<div class="boxxx">
				<img src="images/course-img-7-768x512.jpg" alt=""><br>
				<h2>Photoshop For T-shirt Design: For Beginners</h2><br>
				<div class="h7">
					<h6>$36.00</h6>
				</div><br>

				<div class="i">
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i>
					<i class="fa-regular fa-star"></i><br><br>
					<p>Course Description Lorem Ipsum is simply
						dummy text of the printing and typesetting industry. Lorem</p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="number">
			<div class="num">
				<h2>50K+</h2><br>
				<p>Graduate Students</p>
			</div>
			<div class="num">
				<h2>10+</h2><br>
				<p>Academic Programs</p>
			</div>
			<div class="num">
				<h2>200+</h2><br>
				<p>University faculties</p>
			</div>
			<div class="num">
				<h2>70K+</h2><br>
				<p>Total Students</p>
			</div>
		</div>
	</section>

	<section>
		<div class="test">
			<h6>TESTIMONIAL</h6>
			<h1>What Says Our Students</h1>

			<div class="test1">
				<br>
				<i class="fa-solid fa-bolt"></i><br><br>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing
					elit. Numquam, fuga. Cumque fuga libero culpa
					blanditiis in. Doloribus mollitia consequatur ipsum
					explicabo quasi totam quia voluptatem.</p><br><br>
				<hr><br><br>
				<img src="images/download.png" alt="">
				<h4>Jack Doa</h4>
				<h5>Developer</h5>
			</div>

			<div class="test1">
				<br>
				<i class="fa-solid fa-bolt"></i><br><br>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing
					elit. Numquam, fuga. Cumque fuga libero culpa
					blanditiis in. Doloribus mollitia consequatur ipsum
					explicabo quasi totam quia voluptatem.</p><br><br>
				<hr><br><br>
				<img src="images/download.png" alt="">
				<h4>Adam Smith</h4>
				<h5>Engince</h5>
			</div>

			<div class="test1">
				<br>
				<i class="fa-solid fa-bolt"></i><br><br>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing
					elit. Numquam, fuga. Cumque fuga libero culpa
					blanditiis in. Doloribus mollitia consequatur ipsum
					explicabo quasi totam quia voluptatem.</p><br><br>
				<hr><br><br>
				<img src="images/download.png" alt="">
				<h4>Adam Smith</h4>
				<h5>Marketting</h5>
			</div>

		</div>
	</section>

	<section>
		<div class="join">
			<h6>JOIN OUR EVENTS</h6>
			<h1>Upcoming Events</h1>

			<div class="join1">
				<img src="images/course-img-1-768x512.jpg" alt="">
				<div class="padding">
					<i class="fa-solid fa-calendar-days"> 20 MAY, 2021</i>
					<i class="fa-solid fa-location-dot"> NEW YORK</i><br><br>
					<h3>Programming Content Event <br>
						for CSE Students</h3><br>
					<p>We offer a unique experience to our graduate students, including the opportunity to work with leading academics.</p><br>
					<a href="#">READ MORE <i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>

			<div class="join1">
				<img src="images/course-img-2-768x512.jpg" alt="">
				<div class="padding">
					<i class="fa-solid fa-calendar-days"> 26 MAY, 2021</i>
					<i class="fa-solid fa-location-dot"> N EW YO R K</i><br><br>
					<h3>Career Building in Artificial <br>
						Intelligence</h3><br>
					<p>We offer a unique experience to our graduate students, including the opportunity to work with leading academics.</p><br>
					<a href="#">READ MORE <i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>

			<div class="join1">
				<img src="images/course-img-3-768x512.jpg" alt="">
				<div class="padding">
					<i class="fa-solid fa-calendar-days"> 26 MAY, 2021</i>
					<i class="fa-solid fa-location-dot"> N EW YO R K</i><br><br>
					<h3>How to Become Successful <br>
						In Programming </h3><br>
					<p>We offer a unique experience to our graduate students, including the opportunity to work with leading academics.</p><br>
					<a href="#">READ MORE <i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</section>

	<section id="item11">

		<div>
			<h3>UNIVERSITY CAMPUS</h3>
			<br>
			<h2>Campus Life</h2>
			<br>
			<br>

			<div class="iconani">

				<div class="iconani2">
					<b> <i class="fa-solid fa-play"></i></b>
				</div>

				</a>

			</div>

		</div>

	</section>

	<section id="item12">

		<div class="img">

			<img src="images/about-img-4-768x792.jpg" alt="">

		</div>

		<div class="part12">

			<h1>Why Choose Us</h1>
			<br>
			<br> <br>
			<br>

			<div class="icon12">
				<div>
					<a href=""><i class="fa-solid fa-book-open-reader"></i></a>
				</div>
				<div>
					<h2>Library & Research</h2>
					<p>On the other hand denounce with rigteous
						<br>indignation dislike.
					</p>
				</div>

			</div>

			<br> <br>

			<div class="icon12">
				<div>
					<a href=""><i class="fa-solid fa-atom"></i></a>
				</div>
				<div>
					<h2>Library & Research</h2>
					<p>On the other hand denounce with rigteous
						<br>indignation dislike.
					</p>
				</div>

			</div>

			<br> <br>

			<div class="icon12">
				<div>
					<a href=""><i class="fa-solid fa-user"></i></a>
				</div>
				<div>
					<h2>Library & Research</h2>
					<p>On the other hand denounce with rigteous
						<br>indignation dislike.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="item13">

		<div class="head13">
			<h2>TEACHER</h2>
			<br>
			<h4>Our Expert Teachers</h4>
		</div>

		<div class="part13">
			<div class="para13">
				<img src="images/course-img-1-768x512.jpg" alt="" width="100px">

				<h3>Mr Sabbir</h3>
				<h5>Web Devloper</h5>
			</div>
			<div class="para13">
				<img src="images/course-img-2-768x512.jpg" alt="">
				<h3>Paul Croves</h3>
				<h5>Singer & Musician</h5>
			</div>
			<div class="para13">
				<img src="images/course-img-3-768x512.jpg" alt="">
				<h3>Sakib Sarker</h3>
				<h5> Graphic Design</h5>
			</div>
		</div>
		</div>

	</section>

	<!-- <br> -->
	<div id="item14_1">
		<div class="head14">
			<h4>FROM OUR BLOG</h4>
			<br>
			<h2>Latest News</h2>
		</div>
	</div>

	<section id="item14">

		<div class="part14">

			<div>
				<img src="images/course-img-5-768x512.jpg" alt="">
			</div>

			<div>
				<b><i class="fa-solid fa-calendar-days"></i> 20 MAY, 2021 </b>
				<b> <i class="fa-solid fa-calendar-days"></i> NEW YORK</b>
			</div>
			<div>
				<h1>Traditional Elementary Education News</h1>
			</div>
			<br>
			<div>
				<p> Lorem ipsum, dolor sit amet consectetur
					<br> adipisicing elit. Provident delectus quo
					<br> distinctio? Sunt unde eaque nostrum aperiam
					<!-- <br>quo voluptatibus deserunt nihil aut facilis quos!  -->
					<!-- <br>Quae reiciendis ad commodi dolore tempore! -->
				</p>
			</div>
			<br>
			<div class="but10">
				<a href="">READ MORE<i class="fa-solid fa-right-long"></i></a>
			</div>
		</div>
		<div class="part14">

			<div>
				<img src="images/course-img-6-768x512.jpg" alt="">
			</div>

			<div>
				<b><i class="fa-solid fa-calendar-days"></i> 20 MAY, 2021 </b>
				<b> <i class="fa-solid fa-calendar-days"></i> NEW YORK</b>
			</div>
			<div>
				<h1>Some Good Resources That are Available to</h1>
			</div>
			<br>
			<div>
				<p> Lorem ipsum, dolor sit amet consectetur
					<br> adipisicing elit. Provident delectus quo
					<br> distinctio? Sunt unde eaque nostrum aperiam
					<!-- <br>quo voluptatibus deserunt nihil aut facilis quos!  -->
					<!-- <br>Quae reiciendis ad commodi dolore tempore! -->
				</p>
			</div>
			<br>
			<div class="but10">
				<a href="">READ MORE<i class="fa-solid fa-right-long"></i></a>
			</div>
		</div>
		<div class="part14">

			<div>
				<img src="images/course-img-7-768x512.jpg" alt="">
			</div>

			<div>
				<b><i class="fa-solid fa-calendar-days"></i> 20 MAY, 2021 </b>
				<b> <i class="fa-solid fa-calendar-days"></i> NEW YORK</b>
			</div>
			<div>
				<h1>Students take crash course in Japanese sword</h1>
			</div>
			<br>
			<div>
				<p> Lorem ipsum, dolor sit amet consectetur
					<br> adipisicing elit. Provident delectus quo
					<br> distinctio? Sunt unde eaque nostrum aperiam
					<!-- <br>quo voluptatibus deserunt nihil aut facilis quos!  -->
					<!-- <br>Quae reiciendis ad commodi dolore tempore! -->
				</p>
			</div>
			<br>
			<div class="but10">
				<a href="">READ MORE<i class="fa-solid fa-right-long"></i></a>
			</div>
		</div>
	</section>

	<section id="last">

		<div class="side1">
			<h2>About Us</h2>
			<br> <br>
			<p>Edumodo is perfectly suitable for
				<br>school, college and university website
				<br>with online education system.
			</p>
			<br>

			<i class="fa-solid fa-phone"></i> 01889696612 <br>
			<i class="fa-solid fa-envelope"></i> tamannaferdaush001@gmail.com
		</div>

		<div class="side1">
			<h2>Quick Links</h2>
			<br> <br>
			<div class="lasticon">
				<i class="fa-solid fa-arrow-right"> </i>Education WordPress Theme <br>
				<i class="fa-solid fa-arrow-right"></i> Travel WordPress Theme <br>
				<i class="fa-solid fa-arrow-right"></i> Games WordPress Theme <br>
				<i class="fa-solid fa-arrow-right"></i> Magazine WordPress Theme <br>
				<i class="fa-solid fa-arrow-right"></i> Event WordPress Theme <br>
			</div>
		</div>

		<div class="side1">
			<h2>Instragram</h2>
			<br> <br>
			<div class="lastpic">

				<div><img src="images/course-img-9-768x512 (1).jpg" alt=""> <i></i> </div>
				<div><img src="images/course-img-8-768x512.jpg" alt=""> <i></i> </div>
				<div><img src="images/course-img-7-768x512.jpg" alt=""> <i></i> </div>
				<div><img src="images/course-img-6-768x512.jpg" alt=""> <i></i> </div>
				<div><img src="images/course-img-5-768x512.jpg" alt=""> <i></i> </div>
				<div><img src="images/course-img-3-768x512.jpg" alt=""> <i></i> </div>
			</div>
		</div>

		<div class="side1">
			<h2>Find Us On Map</h2> <br> <br>
			<img src="images/footer-map-300x164.png" alt="">
		</div>

	</section>
</body>

</html>